footer {
    position: relative;
    background-color: grey;
    border-color: black;
   }
   .logo {
      margin-left: 20px;
  
      
   }
  
   .coluna123{
      display: inline-block;
      margin: 5px 130px;
      padding: 0px;
      font-family: impact, charcoal;
      color: black;
   }
  
   .icones{
      display: flex;
      flex: 1;
      justify-content: flex-end;
      margin-right: 1%;
      font-size: 3em;
         width: 100px;
   }

   i{
       color: black;
   }
  
   .fim{
      display: flex;
      justify-content: center;
      color: black;
      font-family: arial;
   }