.card{
    border-radius: 50px 50px 50px 50px;
    color:black;
    margin:2rem;

}

.card-img-top{
    border-radius: 50px 50px 0px 0px;
}

.btn{

    background-color: red;
   
    
}

.card-body{

    margin:0.rem;
}