.card{
    border-radius: 50px 50px 50px 50px;
    color:black;
    margin:2rem;
    display:flex;
    justify-content: center center;

}

.card-img-top{
    border-radius: 50px 50px 0px 0px;
}

.btn{
    margin:2px;
    background-color: red;
   
    
}

.card-body{

    margin:0.rem;
}


.card-title{
    margin:2px;
}