<body>
   
<div class="embaixo">
    <img src="assets/nestle.jpg">
    <h1> Preencha aqui!</h1>
</div>
<div class="diagramacao">
  <form>
      <input  type="text" class="espaçamento" placeholder="Nome"> 
      <br>
      <input type="tel" class="espaçamento" placeholder="Telefone">
      <br>
      <input  type="text" class="espaçamento" placeholder="Endereço">
      <br>
      <input type="text" class="espaçamento" placeholder="Tipo de Comida">
      <br>
      <input  type="text" class="espaçamento" placeholder="Data e Horário">
      <br>
      <input type="text" class="espaçamento" placeholder="Comida">
      <br>
      <input  type="text" class="espaçamento" placeholder="Preço">
      <br>
      <input type="text-area" class="formato" class="espaçamento" placeholder="Descrição">
      <br>
      <button class="espaçamento botão">Enviar</button>
  </form>
</div>
</body>

