
<div class="fixacao">
<app-barra></app-barra>
</div>
<div class="background_organizacao">
    <app-card *ngFor="let card of lista" [dadosCard]="card"></app-card>    
</div>


<div class="diagramacao">
    <form >
        <input   type="text" class="espaçamento" placeholder="Nome"> 
        <br>
        <input type="tel" class="espaçamento" placeholder="Telefone">
        <br>
        <input  type="text" class="espaçamento" placeholder="Endereço">
        <br>
        <input  type="text" class="espaçamento" placeholder="Data e Horário">
        <br>
        <input [(ngModel)] = "dados.comida" name="comida" type="text" class="espaçamento" placeholder="Comida" required>
        <br>
        <input  [(ngModel)] = "dados.preco" name="comida2" type="text" class="espaçamento" placeholder="Preço" required>
        <br>
        <input   [(ngModel)] = "dados.descricao" name="comida4" type="text-area" class="espaçamento" placeholder="Descrição">
        <br>
        <input  [(ngModel)] = "dados.imagem" name="comida3" type="text" class="espaçamento" placeholder="URL da Imagem">
        <br>
        <button (click)="inserirDados()" class="espaçamento botão">Enviar</button>
        <button (click)="limparDados()" class="espaçamento botão">Limpar</button>
    </form>
    <app-footer></app-footer>
</div>



    
    



