<footer>

 
  <div class = "logo"> <img src = "assets/logosharefood.png"/> </div>
  <div class = "coluna123" >
      <ul> Home </ul>
      <ul> Mapa </ul>
      <ul> Email</ul>
  </div>

  <div class ="coluna123">

      <ul> Contribuidores </ul>
      <ul> Campanhas  </ul>
      <ul> Projetos </ul>
      
  

  </div>

  <div class = "coluna123">
      <ul>  Nossas Redes Sociais </ul>
      <ul>  Promoções </ul>
      <ul>Junte-se ao nosso time </ul>
  </div>

  
      

  
  <div class = "icones">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
      <i class="fa fa-snapchat-square" aria-hidden="true"></i>
  </div>

  <div class = "fim" >
      <ul>  © Copyright Text 2018 </ul>
  </div>


</footer>